<a [routerLink]="['/home/movie', movie.id]" class="text-decoration-none">
  <div class="card text-light mb-4">
    <i
      class="bi bi-heart-fill heart-icon"
      [ngClass]="isFavorite ? 'fav-movie' : 'none'"
      (click)="onClick($event)"
    ></i>
    <img
     [src]="
        imgPath + (movie.poster_path ? movie.poster_path : movie.backdrop_path)
      "
      class="card-img-top rounded-4"
      alt="{{ movie.title }}"
    />
    <div class="movie-info py-4 rounded-bottom-4">
      <h6 class="">{{ movie.title }}</h6>
      <p class="px-2 card-overview">{{ movie.overview }}</p>
      <span class="card-des me-2"
        ><i class="bi bi-star-fill text-warning me-1"></i>
        {{ movie.vote_average.toFixed(1) }}</span
      >
      <span class="card-des2 me-2">|</span>
      <span class="card-des2">{{
        movie.genre_names?.slice(0, 3).join(" ")
      }}</span>
    </div>
  </div>
</a>
