<!--  -->
<nav
  class="navbar navbar-expand-lg px-4"
  [ngStyle]="{ 'background-color': bgColor }"
>
  <a class="navbar-brand text-white fw-bold" href="#">MovieSphere</a>

  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white" href="#" appHoverColor>Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" appHoverColor>Series</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" appHoverColor>Animation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" appHoverColor>Genres</a>
      </li>
    </ul>
  </div>

  <!-- Right Side Icons & Button -->
  <div class="d-flex align-items-center">
    <!-- Search Icon -->
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>

    <!-- User Profile Dropdown -->
    <div class="dropdown">
      <button class="btn" type="button" data-bs-toggle="dropdown">
        <i class="bi bi-person-circle fs-5 text-white"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li>
          <a class="dropdown-item text-danger" href="#"
            >Logout <i class="bi bi-box-arrow-right"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
