@keyframes myAnimation {
  0% {
    rotate: -3deg;
  }

  100% {
    rotate: 3deg;
  }
}
.logo {
  animation-name: myAnimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.logoColor {
  color: #b43feb !important;
}

.logoColor:hover {
  color: white !important;
  transition: all 0.5s;
}
