<section class="main-hero bsb-about-6 py-3 py-md-5 py-xl-8">
    <!-- Hero -->
    <div class="p-5 text-center bg-image rounded-3">
  <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
              <h1 class="stagger1 mb-4 display-5 text-center">Bringing Stories to Life</h1>
              <h2 class="stagger2 text-break mb-5 text-center lead fs-4">From behind the scene to our big screen – <span class="btn btn-dark  ">Discover our story!</span> </h2>
            </div>
            <!-- <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a> -->
        </div>
    </div>
</div>
<!-- Hero -->


</section>
<!-- <img class="d-block w-100" src="https://w.wallhaven.cc/full/42/wallhaven-42roy9.jpg" alt="Hero-cover-image"> -->