<div class="container-fluid py-5">
    <div class="text-center text-white">
        <button class="btn p-3 fw-bold rounded-pill" [ngStyle]="{'background-color': gray, 'color': yellow}">
            Access Premium
        </button>

        <h2 class="display-5 fw-bold mb-4">
            It's easy to get started
        </h2>

        <p class="lead mb-3" style="color: #94A3B8;">
            Choose the best plan to enjoy the best<br>
            movies and series
        </p>
        
        <div class="container">
            <div class="row flex-nowrap overflow-auto"> 
              <div class="col-4" *ngFor="let plan of plans">
                <app-subscription-card [title]="plan.title" [price]="plan.price" 
                  [features]="plan.features" [isHighlighted]="plan.highlighted">
                </app-subscription-card>
              </div>
            </div>
          </div>
    </div>
</div>