<input
  class="form-control mt-4 mx-auto rounded-5 w-50"
  type="search"
  placeholder="Search"
  aria-label="Search"
/>
<div class="mx-2 my-5 d-flex flex-wrap justify-content-evenly">
  @for (movie of movies; track $index) {
  <app-movie-card [movie]="movie"></app-movie-card>
  }
</div>

<div class="w-25 mx-auto ps-5">
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
      >
        <span>&laquo;</span>
      </button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(1)">1</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(2)">2</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(3)">3</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="nextPage()">
        <span>&raquo;</span>
      </button>
    </li>
  </ul>
</div>
