<!-- search bar -->
<div class="position-relative w-50 mx-auto mt-4">
  <input
    class="form-control rounded-5 ps-4"
    type="search"
    placeholder="What movie are you looking for? 🎬"
    (input)="searchMovie($event)"
  />
  <i
    class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 text-secondary"
  ></i>
</div>
<!-- movies -->
<div class="mx-2 my-5 d-flex flex-wrap justify-content-evenly">
  @for (movie of movies; track $index) {
  <app-movie-card
    [movie]="movie"
    [isFavorite]="isFavorite(movie.id)"
  ></app-movie-card>
  }
</div>

<!-- pagination -->
<div class="w-25 mx-auto ps-5">
  <ul class="pagination">
    <li class="page-item">
      <button
        class="page-link"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
      >
        <span>&laquo;</span>
      </button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(1)">1</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(2)">2</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="changePage(3)">3</button>
    </li>
    <li class="page-item">
      <button class="page-link" (click)="nextPage()">
        <span>&raquo;</span>
      </button>
    </li>
  </ul>
</div>
