<input
  class="form-control mt-4 mx-auto rounded-5 w-50"
  type="search"
  placeholder="Search"
  aria-label="Search"
/>

<div class="mx-5 my-3 d-flex flex-wrap justify-content-evenly">
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card>
  <app-movie-card
    [id]="movie.id"
    [title]="movie.title"
    [posterPath]="movie.poster_path"
  ></app-movie-card
  >s
</div>
