<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<section id="team" class="team_member section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h1>Meet our experts</h1>
      <p>
        Ready to Connect? Our Team is Here to Make Magic Happen – <span class="reaching"><a href="https://youtu.be/GaqZ6HP5HZw" target="_blank">Reach Out Now!</a></span>
      </p>
    </div>
    <div class="row text-center">
      <!-- First Row with 3 Members -->
      <div
        class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
      >
        <div class="our-team">
          <div class="team_img">
            <img src="/assets/asmaa.jpg" alt="team-image" />
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Asmaa Omar</h3>
            <span class="post">هندسه ورياسه</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
      >
        <div class="our-team">
          <div class="team_img">
            <img src="assets/Gemi.jpg" alt="team-image" />
            <ul class="social">
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <h3 class="title">Mohamed Gamal</h3>
            <span class="post">منور اسيووط كلها</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
      >
        <div class="our-team">
          <div class="team_img">
            <img
              src="/assets/hassona3.jpg"
              alt="team-image"
			        class="img-hassan"
            />
            <ul class="social">
              <li>
                <a href="https://www.facebook.com/hassan.zidan.589/" target="_blank"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>
          <div class="team-content">
            <!-- https://www.bootdey.com/snippets/view/Meet-our-experts -->
            <h3 class="title">راجل تمام التمام</h3>
            <span class="post">Developer</span>
          </div>
        </div>
      </div>
    </div>
    <!--- END FIRST ROW -->

    <div class="row text-center">
      <!-- Second Row with 2 Members -->
      
    </div>
    <!--- END SECOND ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
